<!DOCTYPE html>
<html>
<head>
  <title>User Details</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      padding: 20px;
    }

    .card {
      max-width: 500px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
    }

    p {
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .update-button {
      display: block;
      text-align: center;
      margin-top: 20px;
    }

    .update-button a {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;
    }

    .update-button a:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <div class="card">
    <h1>User Details</h1>
    <p>Name: <%= user.name %></p>
    <p>Email: <%= user.email %></p>
    <p>Phone: <%= user.phone %></p>
    <p>Address: <%= user.address %></p>
    <div class="update-button">
      <a href="/login">Logout</a>
      <a href="/users/<%= user._id %>/hotel">View Hotels</a>
      <a href="/users/<%= user._id %>/booking-history">My Bookings</a>

    </div>
  </div>
</body>
</html>
